.cart-items-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 72px;
}

.pending-cart-items-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 40px;
}

.cart-buttonBar-data-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 8px;
}

.cart-buttonBar {
    margin-bottom: 78px;
}

.cart-empty-state-container {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pending-cart-instructions {
    margin-top: 40px;
}

.empty-state-cart {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}