.chef-module-container {
    display: flex;
    gap: 8px;
    align-items: center;
}


.chef-module-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.chef-module-name {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chef-module-description {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}