.logo-container {
    width: 200px;
    height: 75px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.logo-label {
    font-family: "Inter";
    font-size: 52px;
    font-weight: 800;
    margin: 0;

}

.logo-img {
    width: 70px;
}